.login-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  cursor: pointer;
}
.login-icon{
  margin: 5px;
}

/* .main{
  background-color: blue;
} */

.logo{
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.menu-list{
  display: flex;
  list-style-type: none;
}

.menu-list li{
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box{
  margin: 0 5px;
  border: none;
}

.input-box:focus{
  outline: none;
}

.search-area{
  right: 20px;
  position: absolute;
  display: flex;
  border-bottom: 1px solid black;
}

.item-img{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.img-card{
  border: none;
  margin-bottom: 20px;
  transition: 0.2s;
}

.img-card:hover{
  transform: scale(1.1);
  z-index: 1;
  background-color: white;
}

.login{
  max-width: 700px;
}

.product-img{
  display: flex;
  justify-content: flex-end;
}

.product-img img{
  border : none;
  width: 70%;
}

.detail-area{
  display: flex;
  flex-direction: column;
}

.detail-area button{
  margin-top: 20px;
  width: 70%;
}

.drop-down{
  width: 30%;
}